@import url('https://fonts.googleapis.com/css2?family=Inter:wght@600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-repeat: no-repeat;
  text-decoration: none;
  list-style: none;
  font-family: 'inter', sans-serif;
}

#nav-bar {
  position: fixed;
  width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: #3a3a39;
  height: 80px;
}

.nav-item {
  display: flex;
  position: fixed;
  left: -100%;
  top: 28px;
  flex-direction: column;
  background-color: #3c3a39;
  width: 100%;
  height: 100%;
  padding-top: 44px;
}

.nav-item.active {
  left: 0;
}

.nav-item a {
  color: #fff;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  padding-left: 30px;
}

.logo {
  font-family: 'Roboto', serif;
  font-style: normal;
  font-size: 20px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #fff;
}

.ambuger {
  display: none;
  cursor: pointer;
}

.aambuger-bar {
  width: 26px;
  height: 3px;
  background-color: white;
  margin: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

.han-line {
  border: 1px solid #6f6c6b;
  margin-bottom: 18px;
  margin-left: 20px;
  margin-right: 20px;
}

.first-sec {
  display: flex;
  flex-direction: column;
  padding: 120px 24px;
  gap: 12px;
  min-height: 590px;
  background-color: #292725;
  background-image: url("./images/illustration-header-mobile.png");
  background-position: right bottom;
  background-repeat: no-repeat;
  min-width: 100vw;
}

.tittle {
  margin-right: 24px;
  font-family: 'inter', serif;
  font-style: normal;
  font-size: 55px;
  line-height: 64px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.sub-tittle {
  margin-right: 24px;
  font-family: 'Roboto', serif;
  font-style: normal;
  font-size: 24px;
  line-height: 32px;
  display: flex;
  align-items: center;
  color: #fff5e1;
}

.paragh {
  margin-right: 24px;
  font-family: 'Poppins', serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  -webkit-text-stroke: 0.01vw #6b6b65;
}

.newsocial {
  display: flex;
}

#social-media {
  display: flex;
  gap: 1rem;
  padding: 0 20px;
  padding-top: 20px;
}

#second-sec {
  color: #e5e5e5;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  gap: 12px;
}

#multi {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.second-tittle {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-size: 39px;
  line-height: 52px;
  display: flex;
  align-items: center;
  color: #091e42;
  margin-bottom: 30px;
}

.post {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  padding-top: 120px;
  gap: 12px;
}

.second-subtittle {
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #091e42;
}

#second-p {
  display: flex;
  text-align: center;
}

.second-p {
  margin-left: 20px;
  margin-right: 24px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #091e42;
  padding: 24px 0;
}

.list-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 297px;
  height: 40px;
}

.igmnoe {
  float: right;
}

.multi-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 297px;
  height: 40px;
  padding: 0 24px;
  margin-bottom: 23px;
}

.multi-btn li {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  background-color: #fff;
  border: 1px solid #8993a4;
  font-family: 'Inter', serif;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.css-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 49px;
  height: 40px;
  background-color: #fff;
  border: 1px solid #8993a4;
  font-family: 'Inter', serif;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.html-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  font-family: 'Inter', serif;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.boot-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  font-family: 'Inter', serif;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.ruby-btn {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  background: #fff;
  border: 1px solid #8993a4;
  font-family: 'Inter', serif;
  font-style: normal;
  font-size: 15px;
  line-height: 20px;
  color: #091e42;
}

.projectBtn {
  display: flex;
  justify-content: center;
  align-items: center;
}

.btn-top {
  display: flex;
  align-items: center;
  padding: 12px;
  width: 129px;
  height: 48px;
  background-color: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
  margin-top: 25px;
}

#htmlPage {
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  text-align: center;
  padding: 80px;
}

.header-pro {
  background: linear-gradient(180.45deg, rgba(38, 38, 38, 0) 0.75%, rgba(38, 38, 38, 0) 61.94%), url(./images/Img-Placeholder-pro.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 390px;
  width: 327px;
}

.pro {
  padding: 0 20px;
  width: 295px;
  padding-top: 80px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  color: #fff;
}

.pro-p {
  padding: 0 20px;
  margin-right: 24px;
  padding-top: 8px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #fff;
  margin-bottom: 7px;
}

.pro-ul {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 12px;
  width: 236px;
  margin-top: 15px;
  padding: 0 20px;
}

.pro-html {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 56px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
}

.pro-boot {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 95px;
  height: 40px;
  background: rgba(255, 255, 255, 0.24);
}

.pro-rubby {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px 12px;
  width: 61px;
  height: 40px;
  background-color: rgba(255, 255, 255, 0.24);
}

.pro-btn {
  width: 327px;
  height: 48px;
  border: none;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
}

.third-sec {
  height: 1901px;
  background: #1c1a19;
}

#megi {
  height: 590px;
  background-color: #1c1a19;
  background-image: url("./images/illustration-about-me-mobile.png");
  background-position: right 95%;
  background-repeat: no-repeat;
}

.igme {
  display: none;
}

.third-tittle {
  padding: 0 24px;
  height: 79px;
  padding-top: 84px;
  font-family: 'Crete Round', sans-serif;
  font-style: normal;
  font-size: 65px;
  line-height: 88px;
  letter-spacing: 0.37px;
  color: #ff6b00;
}

.third-p {
  padding: 0 24px;
  height: 148px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 16px;
  line-height: 24px;
  color: #f4f5f7;
  margin-top: 96px;
}

.get-btn {
  margin: 0 24px;
  display: flex;
  justify-content: center;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  width: 161px;
  height: 48px;
  background: #ff6b00;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  color: #fff;
  border: none;
  margin-top: 12px;
}

.line2 {
  border: 1px solid #313030;
  margin-bottom: 70px;
  height: 1px;
  width: 325px;
}

.line1 {
  border: 1px solid #fff;
  margin-top: 170px;
}

.head {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-family: "Inter", serif;
  font-style: normal;
  font-size: 32px;
  padding-top: 82px;
}

.head-items {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.lang {
  font-family: 'InaiMathi', sans-serif;
  font-style: normal;
  font-size: 32px;
  line-height: 44px;
  display: flex;
  align-items: center;
  color: #fff;
}

.head-items a {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 22px;
  line-height: 43px;
  color: #fff;
}

.head-items li {
  padding-top: 12px;
}

.li-p {
  padding-top: 30px;
}

#desk-nav ul a:hover {
  color: #e4e4e2;
  transition-duration: 3ms;
  background-color: #3d3c3b;
  margin: 6px;
}

.css-btn:hover {
  background-color: #ff6b00;
  color: #fff;
  transition-duration: 2s;
  border: 1px solid #f55800;
  cursor: pointer;
  margin: 6px;
}

.html-btn:hover {
  background-color: #ff6b00;
  color: #fff;
  transition-duration: 2s;
  border: 1px solid #f55800;
  cursor: pointer;
  margin: 6px;
}

.boot-btn:hover {
  background-color: #ff6b00;
  color: #fff;
  transition-duration: 2s;
  border: 1px solid #f55800;
  margin: 6px;
  cursor: pointer;
}

.ruby-btn:hover {
  background-color: #ff6b00;
  color: #fff;
  transition-duration: 2s;
  border: 1px solid #f55800;
  cursor: pointer;
  margin: 6px;
}

.pro-html:hover {
  background-color: #ff6b00;
  color: #fff;
  transition-duration: 2s;
  border: 1px solid #f55800;
  margin: 6px;
  cursor: pointer;
}

.pro-boot:hover {
  background-color: #ff6b00;
  color: #fff;
  transition-duration: 2s;
  cursor: pointer;
  margin: 6px;
}

.pro-rubby:hover {
  background-color: #ff6b00;
  color: #fff;
  transition-duration: 2s;
  border: 1px solid #f55800;
  cursor: pointer;
  margin: 6px;
}

.pro-btn:hover {
  color: #ff6b00;
  background-color: #fff;
  transition-duration: 2s;
  border: 1px solid #f55800;
  margin: 6px;
  cursor: pointer;
}

.get-btn:hover {
  color: #ff6b00;
  background-color: #fff;
  transition-duration: 2s;
  border: 1px solid #f55800;
  cursor: pointer;
  margin: 10px;
}

.btn-top:hover {
  color: #ff6b00;
  background-color: #fff;
  transition-duration: 2s;
  border: 1px solid #f55800;
  cursor: pointer;
  margin: 5px;
}

.logo:hover {
  color: #e4e4e2;
  transition-duration: 3ms;
  background-color: #3d3c3b;
  margin: 6px;
}

.form-btn2:hover {
  color: #ff6b00;
  background-color: #fff;
  transition-duration: 2s;
  border: 1px solid #f55800;
  margin: 6px;
  cursor: pointer;
}

/* contact form section */

.interested {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  line-height: 44px;
  text-align: center;
  color: #172b4d;
  margin-right: 24px;
}

.name-input {
  width: 327px;
  height: 48px;
  display: flex;
  align-items: center;
  border: none;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  margin-top: 64px;
  padding: 0 24px;
  background-color: #fbf8f7;
}

.email-input {
  margin-top: 30px;
  width: 327px;
  height: 48px;
  display: flex;
  align-items: center;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: #979493;
  border: none;
  padding: 0 24px;
  background-color: #fbf8f7;
}

.msg-input {
  margin-top: 35px;
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 15px;
  line-height: 24px;
  color: #3c3a39;
  width: 327px;
  height: 114px;
  border: none;
  background-color: #fbf8f7;
  padding: 0 24px;
}

.form-btn {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 17px;
  line-height: 24px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  letter-spacing: 0.03em;
  color: #fff;
  width: 131px;
  height: 48px;
  background: #ff6b00;
  border: none;
  margin: 26px 84px;
}

.error-msg {
  color: #f00;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 10;
  background-color: #fff;
  width: 320px;
  min-height: 565px;
  border: 1px solid #dfe1e6;
  animation: 1s drop;
  display: none;
  padding: 0 8px;
}

@keyframes drop {
  0% {
    top: -100px;
  }

  100% {
    top: 50%;
  }
}

.modal-headd {
  display: none;
}

.close-button {
  cursor: pointer;
  outline: none;
  margin-right: 4px;
  background-color: #fff;
  color: #67798e;
  border: none;
  font-size: 30px;
  transition: 200ms ease-in-out;
  margin-bottom: 10px;
  animation: 1s dropout;
}

@keyframes ease-in-out {
  0% {
    top: -100px;
  }

  100% {
    top: 50%;
  }
}

.live-button {
  background-color: #ff6b00;
  border-color: #ff6b00;
  background-repeat: no-repeat;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 13px;
  display: flex;
  text-align: center;
  padding: 10px 13px;
  gap: 20px;
}

.source-button {
  background-color: #ff6b00;
  background-repeat: no-repeat;
  border-color: #ff6b00;
  color: #fff;
  font-family: "Inter", sans-serif;
  font-weight: 700;
  font-size: 13px;
  display: flex;
  text-align: center;
  padding: 10px 11px;
  gap: 15px;
}

.modal-social li {
  align-items: center;
  padding: 10px 15px;
  border: 1px solid #8993a4;
  margin: 4px;
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  color: #3c3a39;
  text-align: center;
}

@keyframes drop {
  0% {
    top: 100px;
  }

  100% {
    top: 50%;
  }
}

.title {
  font-family: "Roboto", sans-serif;
  font-style: normal;
  color: #172b4d;
  margin-bottom: 30px;
  margin-top: 15px;
  font-size: 15px;
  font-weight: 700;
}

.modal-social {
  display: flex;
  flex-direction: row;
  align-items: center;
  font-family: "Inter", sans-serif;
  font-style: normal;
  margin-top: 5px;
}

.modal-pic {
  display: flex;
  flex-direction: column;
  background-image: url(./images/SnapshootPortfolio.png);
  background-repeat: no-repeat;
  margin-top: 14px;
  height: 200px;
}

.modal-mobile {
  font-family: 'Inter', sans-serif;
  font-style: normal;
  font-size: 14px;
  color: #344563;
  margin-top: 210px;
  width: 399px;
}

.modal-desktop {
  display: none;
}

.modal-button {
  display: flex;
  flex-direction: row;
  gap: 15px;
  margin-top: 166px;
  align-items: center;
}

.form-btn:hover {
  background-color: #fff5e1;
  border: 1px solid #f55800;
  color: #f55800;
  transition-duration: 2s;
  cursor: pointer;
  margin-top: 1px;
}

.line3 {
  border: 1px solid #e5e5e5;
  height: 1px;
  width: 331px;
}

.form-sec {
  display: flex;
  flex-direction: column;
  padding: 120px 24px;
  background-color: #fff;
  height: 1050px;
}

.line4 {
  border: 1px solid #dfe1e6;
  height: 1px;
  width: 100vw;
  margin-bottom: 29px;
}

.newsocial2 {
  display: flex;
  justify-content: center;
  align-items: center;
}

#social-media2 {
  display: flex;
  gap: 1.5rem;
  align-items: center;
  justify-content: center;
}

#desk-nav {
  display: none;
}

.newsocial3 {
  display: none;
}

.img-desk2 {
  display: none;
}

.medium {
  display: none;
}

#line-about {
  display: none;
}

.ative {
  display: none;
}

  .ambuger {
    display: block;
    cursor: pointer;
  }

  .ambuger.active .aambuger-bar:nth-child(2) {
    opacity: 0;
  }

  .ambuger.active .aambuger-bar:nth-child(1) {
    transform: translateY(8px) rotate(45deg);
  }

  .ambuger.active .aambuger-bar:nth-child(3) {
    transform: translateY(-8px) rotate(-45deg);
  }

@media all and (min-width: 768px) {
  .img-desk {
    display: none;
  }

  #social-media {
    display: none;
  }

  html {
    scroll-behavior: smooth;
    transition-duration: 1ms;
  }

  #nav-bar {
    display: none;
  }

  .newsocial {
    display: none;
  }

  #desk-nav {
    display: flex;
    justify-content: space-around;
    align-items: center;
    min-height: 72px;
    background: #3e3c3c;
  }

  #desk-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  #desk-nav ul a {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
  }

  #desk-nav ul li {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .logo {
    font-family: 'inter', serif;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .first-sec {
    background-color: #1c1a19;
    min-height: 602px;
    background-image: url("./images/illustration-header-mobile.png");
    background-position: right bottom;
    background-repeat: no-repeat;
  }

  .tittle {
    margin-right: 131px;
    padding: 0 143px;
    font-family: 'Crete Round', sans-serif;
  }

  .paragh {
    min-height: 132px;
    padding: 0 143px;
  }

  .sub-tittle {
    padding: 0 143px;
  }

  .newsocial3 {
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  #social-media3 {
    position: absolute;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 20px;
    margin-top: 53px;
  }

  #my-recnt {
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 0 12px 0;
  }

  .second-tittle {
    margin-bottom: 0;
  }

  .line2 {
    border: 1px solid #313030;
    margin-bottom: 0;
    height: 1px;
    width: 320px;
  }

  #multi {
    display: flex;
    padding: 120px;
    align-items: center;
    justify-content: center;
  }

  .img-desk2 {
    display: flex;
    width: 384px;
    height: 300px;
  }

  .post {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 29px;
  }

  .ative {
    display: flex;
    flex-direction: column;
    padding: 0 84px;
    justify-content: center;
    align-items: center;
  }

  .nonative {
    display: none;
  }

  .interested {
    padding-left: 75px;
    margin-bottom: 58px;
  }

  .namemes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }

  .name-input2 {
    width: 210px;
    height: 48px;
    display: flex;
    align-items: center;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    color: #979493;
    margin-top: 64px;
    padding: 0 24px;
    background-color: #fbf8f7;
  }

  .email-input2 {
    margin-top: 30px;
    width: 452px;
    height: 48px;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    color: #979493;
    border: none;
    padding: 0 24px;
    background-color: #fbf8f7;
  }

  .msg-input2 {
    margin-top: 35px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    color: #3c3a39;
    width: 452px;
    height: 114px;
    border: none;
    background-color: #fbf8f7;
    padding: 0 24px;
  }

  .form-btn2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
    color: #fff;
    width: 131px;
    height: 48px;
    background: #ff6b00;
    border: none;
  }

  .line3-1 {
    border: 1px solid #e5e5e5;
    height: 1px;
    width: 155px;
  }

  .line3-2 {
    border: 1px solid #e5e5e5;
    height: 1px;
    width: 452px;
  }

  .form-sec {
    height: 970px;
  }

  #htmlPage {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
  }

  .header-pro:nth-child(1) {
    background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%), url(./images/awsome-book.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    width: 367px;
  }

  .header-pro:nth-child(2) {
    background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%), url(./images/math-app.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    width: 367px;
  }

  .header-pro:nth-child(3) {
    background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%), url(./images/todo-list.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    width: 367px;
  }

  .header-pro:nth-child(4) {
    background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%), url(./images/Imgplaceholder.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    width: 367px;
  }

  .header-pro:nth-child(5) {
    background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%), url(./images/Imgplaceholder1.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    width: 367px;
  }

  .header-pro:nth-child(6) {
    background: linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%), url(./images/Imgplaceholder2.png);
    background-repeat: no-repeat;
    background-size: cover;
    height: 420px;
    width: 367px;
  }

  .igmnoe {
    display: none;
  }
}

@media all and (min-width: 1200px) {
  .modal {
    width: 1150px;
    height: 80vh;
    padding: 0 19px;
  }

  .modal-pic {
    display: flex;
    flex-direction: row;
    background-size: 55% 100%;
    height: 340px;
    margin-top: 30px;
    width: 990px;
  }

  .modal-header22 {
    font-family: "Roboto", sans-serif;
    font-size: 14px;
    line-height: 44px;
    color: #172b4d;
    margin: 24px;
  }

  .modal-headd {
    display: block;
    font-family: "Roboto", sans-serif;
    font-size: 32px;
    font-weight: 700;
    line-height: 44px;
    color: #172b4d;
    margin: -25px;
  }

  .modal-headm {
    display: none;
  }

  .modal-desktop {
    display: flex;
    flex-direction: row;
    font-family: "Inter", sans-serif;
    font-weight: 400;
    width: 475px;
    font-size: 18px;
    line-height: 30px;
    margin-left: 580px;
  }

  .modal-mobile {
    display: none;
  }

  .modal-button {
    margin-left: 580px;
    margin-top: -45px;
  }

  .img-desk {
    display: none;
  }

  #social-media {
    display: none;
  }

  html {
    scroll-behavior: smooth;
    transition-duration: 1ms;
  }

  body {
    width: 100%;
  }

  #nav-bar {
    display: none;
  }

  .newsocial {
    display: none;
  }

  #desk-nav {
    position: fixed;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 72px;
    background: #3e3c3c;
    width: 100vw;
  }

  #desk-nav ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 30px;
  }

  #desk-nav ul a {
    color: #fff;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 20px;
  }

  #desk-nav ul li {
    display: flex;
    align-items: center;
    text-align: center;
  }

  .logo {
    font-family: 'inter', serif;
    font-style: normal;
    font-size: 20px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #fff;
  }

  .first-sec {
    background-image: url("./images/Illustration-header.png");
    background-position: right bottom;
    background-repeat: no-repeat;
    background-color: #1c1a19;
    min-height: 875px;
  }

  .tittle {
    margin-right: 600px;
    padding: 0 143px;
    font-family: 'Crete Round', sans-serif;
  }

  .paragh {
    margin-right: 546px;
    min-height: 132px;
    padding: 0 143px;
  }

  .sub-tittle {
    padding: 0 143px;
  }

  .newsocial3 {
    position: absolute;
    display: flex;
    flex-direction: column;
  }

  #social-media3 {
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 0 20px;
  }

  .pro {
    padding: 0 20px;
    width: 295px;
    padding-top: 123px;
    font-family: 'Crete Round', sans-serif;
    font-style: normal;
    font-size: 32px;
    line-height: 44px;
    color: #fff;
  }

  .pro-p {
    margin-bottom: 17px;
  }

  #my-recnt {
    display: flex;
    gap: 25px;
    align-items: center;
    padding: 0 12px 0;
  }

  .second-tittle {
    margin-bottom: 0;
  }

  .line2 {
    border: 1px solid #313030;
    margin-bottom: 0;
    height: 1px;
    width: 620px;
  }

  #multi {
    display: flex;
    flex-direction: row;
    padding: 120px 0 0;
  }

  .multi-btn:nth-child(1) {
    visibility: hidden;
  }

  .img-desk2 {
    display: flex;
    width: 684px;
    height: 448px;
  }

  .post {
    display: flex;
    flex-direction: column;
    padding: 0 24px;
  }

  #htmlPage {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 29px;
  }

  .slef {
    width: 369px;
    height: 435px;
    background:
      linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%),
      url(./images/Imgplaceholder.png);
    background-repeat: no-repeat;
  }

  .grid-1 {
    width: 369px;
    height: 459px;
    background:
      linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%),
      url(./images/Imgplaceholder.png);
    background-repeat: no-repeat;
    padding: 105px 0;
    top: 0;
    transition: top ease 0.5s;
  }

  .grid-1:hover {
    top: -50px;
  }

  .grid-2 {
    width: 369px;
    height: 459px;
    background:
      linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%),
      url(./images/Imgplaceholder1.png);
    background-repeat: no-repeat;
    padding: 105px 0;
  }

  .grid-3 {
    width: 369px;
    height: 459px;
    background:
      linear-gradient(179.4deg, rgba(38, 38, 38, 0) 0.81%, rgba(38, 38, 38, 0.9) 84.03%),
      url(./images/Imgplaceholder2.png);
    background-repeat: no-repeat;
    padding: 105px 0;
  }

  .pro-btn {
    width: 367px;
    height: 48px;
  }

  .ulnon {
    display: none;
  }

  .line6 {
    border: 1px solid #e5e5e5;
    height: 1px;
    width: 1050px;
    margin: 130px 82px;
  }

  .medium {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 369px;
    height: 48px;
    background: #ff6b00;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    color: #fff;
    border: none;
    margin-top: 20px;
  }

  .third-sec {
    height: 1090px;
  }

  .third-tittle {
    margin: 0 82px;
  }

  .third-p {
    margin-right: 300px;
    padding: 0 82px;
  }

  .get-btn {
    margin: 0 82px;
  }

  .line1 {
    display: none;
  }

  .igme {
    display: flex;
  }

  .third-sec-div {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: center;
  }

  .lang-desk {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    margin: 0;
    justify-content: center;
  }

  .head {
    padding-top: 0;
  }

  .ative {
    display: flex;
    flex-direction: row;
    padding: 0 84px;
    justify-content: center;
    align-items: center;
    gap: 29px;
  }

  .nonative {
    display: none;
  }

  .interested {
    padding-left: 75px;
    margin-bottom: 58px;
  }

  .namemes {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
  }

  .name-input2 {
    width: 310px;
    height: 48px;
    display: flex;
    align-items: center;
    border: none;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    color: #979493;
    margin-top: 64px;
    padding: 0 24px;
    background-color: #fbf8f7;
  }

  .email-input2 {
    margin-top: 30px;
    width: 652px;
    height: 48px;
    display: flex;
    align-items: center;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    color: #979493;
    border: none;
    padding: 0 24px;
    background-color: #fbf8f7;
  }

  .msg-input2 {
    margin-top: 35px;
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 15px;
    line-height: 24px;
    color: #3c3a39;
    width: 652px;
    height: 114px;
    border: none;
    background-color: #fbf8f7;
    padding: 0 24px;
  }

  .form-btn2 {
    font-family: 'Inter', sans-serif;
    font-style: normal;
    font-size: 17px;
    line-height: 24px;
    display: flex;
    align-items: center;
    text-align: center;
    justify-content: center;
    letter-spacing: 0.03em;
    color: #fff;
    width: 131px;
    height: 48px;
    background: #ff6b00;
    border: none;
  }

  .line3-1 {
    border: 1px solid #e5e5e5;
    height: 1px;
    width: 315px;
  }

  .line3-2 {
    border: 1px solid #e5e5e5;
    height: 1px;
    width: 652px;
  }

  .form-sec {
    height: 670px;
  }

  .medium:hover {
    color: #ff6b00;
    background-color: #fff;
    transition-duration: 2s;
    border: 1px solid #f55800;
    cursor: pointer;
    margin: 6px 0;
  }
}
